<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dss886.dotaautochess">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- UMENG Analysis -->
        <meta-data android:name="UMENG_APPKEY" android:value="5c624a21b465f55c01000c46"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.filter.FilterActivity"
            android:screenOrientation="portrait"
            android:saveEnabled="false"
            android:label="@string/title_filter"/>
        <activity
            android:name=".feature.news.detail.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:saveEnabled="false"
            android:label="@string/title_news_detail"/>
        <activity
            android:name=".feature.setting.SettingsActivity"
            android:screenOrientation="portrait"
            android:saveEnabled="false"
            android:label="@string/title_settings"/>
    </application>

</manifest>